/*
* all the css that deals with the html element header 
*/

header {
  height: 620px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: red;
  background-image: url('/images/45-degree-fabric-dark.png');
}

/*
*name class specific css
*/
.name{
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

/*
*css that deals with different sizes of windows. specificly css for anything starting at 1024px and higher
*/
@media (min-width: 1024px) {
  header {
    margin-top:190px;
    margin-left: 50px;
    float: left;
    width: 30vw;
    padding: 3em;
  }
}