header {
  height: 620px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: red;
  background-image: url('/images/45-degree-fabric-dark.png');
}

.name{
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}